!!! 5
%html
  %head
    %title 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    /* no bullets of margins on list for navigation*/
   
  %body
    %navbar
    /* navigation bar is a list */
    %ul
      %li
        %a.active{:href => "#about"} About
      %li{:style => "float:right"}
        %a.active{:href => "/profiles"} Profiles
      %li{:style => "float:right"}
        %a.active{:href => "#forums"} Forums
      %li{:style => "float:right"}
        %a.active{:href => "/staticpages/home"} Home
      %li{:style => "float:right"}  
    
    %div class="jumbotron"
      %div class="container"
        %h1 class="display-3">Hello, world!</h1>
        %p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        %p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      
        
    
        = yield