!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'staticpages', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'staticpages', "data-turbolinks-track" => true 
    = csrf_meta_tags
    /* no bullets of margins on list for navigation*/
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "SisterWeb", :name => "description"}
            %meta{:content => "D.Dekker, K. Jones, Shay Shay, V. Martinez", :name => "author"}
              %link{:href => "../../favicon.ico", :rel => "icon"}
                %title SisterWeb
                / Bootstrap core CSS
                %link{:href => "../../dist/css/bootstrap.min.css",:rel => "stylesheet"}
              %style {:type="text/css"} 
              %script{:src => "https://code.jquery.com/jquery-1.11.3.min.js", :type => "text/javascript"}
              %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
              
  %site-wrapper              
  .site-wrapper
    .cover-container
      .inner
        %h4.masthead-brand Who We Are
      .inner.cover
        %p.lead SisterWeb was created by female software engineers at Mills College in
        %p.lead Oakland, who were looking for a place to connect with other women in 
        %p.lead tech. Our mission is to create a commons where women can interact and 
        %p.lead find answers to questions without judgment or criticism. SisterWeb is  
        %p.lead emphatically trans and queer friendly.
        %p.lead 
        %p.lead We hope you enjoy our site!
        %p.lead
        %p.lead Contact sisterweb at gmail dot com.