.site-wrapper
  .cover-container
    .inner
      %h4.masthead-brand Who We Are
    .inner.cover
      %p.lead SisterWeb was created by female software engineers at Mills College in
      %p.lead Oakland, who were looking for a place to connect with other women in 
      %p.lead tech. Our mission is to create a commons where women can interact and 
      %p.lead find answers to questions without judgment or criticism. SisterWeb is  
      %p.lead emphatically trans and queer friendly.
      %p.lead 
      %p.lead We hope you enjoy our site!
      %p.lead
      %p.lead Contact sisterweb at gmail dot com.