!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "SisterWeb", :name => "description"}
            %meta{:content => "D.Dekker, K. Jones, Shay Shay, V. Martinez", :name => "author"}
              %link{:href => "../../favicon.ico", :rel => "icon"}
                %title SisterWeb
                / Bootstrap core CSS
                %link{:href => "../../dist/css/bootstrap.min.css",:rel => "stylesheet"}
              %style {:type="text/css"}     
                
  %body
    / Jumbotron
    .jumbotron
      .container-jumbotron
        .col-md-8
          %h1 Built by women in tech for women in tech.
          %p
          %p
        .col-md-4
          %a.btn.btn-primary.btn-lg{:href => "/staticpages/about", :role => "button"} Learn more
          
          
    / Three columns of text below the carousel
    .row-jumbotron
      .col-lg-4
        %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("molecule.png"), :width => "80"}/
        %h2 Connect
      / /.col-lg-4
      .col-lg-4
        %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("Newton.png"), :width => "80"}/
        %h2 Community 
      / /.col-lg-4
      .col-lg-4
        %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("head.png"), :width => "80"}/
        %h2 Advice
    / /.row
  
