%jumbotron
  .jumbotron
    .container-jumbotron
      .col-md-8
        %h1 Built by women in tech for women in tech.
        %p
        %p
      .col-md-4
        %a.btn.btn-primary.btn-lg{:href => "/staticpages/about", :role => "button"} Learn more
        
        
  / Three columns of text below the carousel
  .row-jumbotron
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("molecule.png"), :width => "80"}/
      %h2 Connect
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("Newton.png"), :width => "80"}/
      %h2 Community 
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("head.png"), :width => "80"}/
      %h2 Advice
  / /.row

=======
          %a.btn.btn-secondary{:href => "#", :role => "button"} View details »
      / /.col-lg-4
      .col-lg-4
        %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "140"}/
        %h2 Advice
        %p More Txt Here
        %p
          %a.btn.btn-secondary{:href => "#", :role => "button"} View details »
      / /.col-lg-4
    / /.row
  
=======

>>>>>>> feature_calendar
>>>>>>> df561c1e7eefcb8120f2e815cd7dc731856bdaf2
