%jumbotron
  .jumbotron
    .container-jumbotron
      .col-md-8
        %h1 Built by women in tech for women in tech.
        %p
        %p
      .col-md-4
        %a.btn.btn-primary.btn-lg{:href => "/staticpages/about", :role => "button"} Learn more
        
        
  / Three columns of text below the carousel
  .row-jumbotron
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("molecule.png"), :width => "80"}/
      %h2 Connect
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("Newton.png"), :width => "80"}/
      %h2 Community 
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "80", :src => asset_path("head.png"), :width => "80"}/
      %h2 Advice
  / /.row
