@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}



/*Application
*/


html{
    font-family: "Helvetica Neue";
    font-style: normal;
    text-decoration: none;
}

.masthead:before{
    height: 50px;
    display: compact;
    content: "";
    display: block;
    margin: 20px;
}

.masthead .container-masthead{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    display: table;
    margin-bottom: 1px;
    margin-left: 10px;
    height: 45px;
    display: inline;
}

.img-logo{
    vertical-align: center;
    margin: 4em;
    font-size: 1em;
    display: inline-block; 
    margin: 0px;
}

h3 {
    display: inline-block;
    vertical-align: center;
    margin-left: 5px;
    margin-top: 15px;
    padding: 0px;
    letter-spacing: 1px;
    font-size: 2.50vw;
    font-weight: 400;
    text-decoration: none;

}

ul {
      width: 100%;
      list-style-type: none;
      margin-top: 0px;
      margin-bottom: 0px;
      overflow: hidden;
      background-color: white;
      padding: 0px 15px;
      display: inline-block; 
  }
  
  li {
      float: right;
  }
  
  
  li a {
      display: block;
      color: #00ace6;
      text-align: top;
      padding-top: 10px; 
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      font-family: "Helvetica Neue";
      font-size: 1.5vw;
      margin-right: 8px;
  }
      
 li a:hover{
    text-color: #1ac6ff;
}
     

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets"