/* Calendar 
*/

body {
	font-family: "Helvetica Neue";
}

.calendar{
    margin-top: 25px;
    width: 100%;
    height: 550px;
	padding: 0px;
	margin-right: -1px;
	margin-bottom: -1px;
}

.row .col-md-12{
    box-sizing:border-box;
    border: 1px solid #ccc;
}

.col-md-12.text-center {
    padding-top: 0px;
    text-align: center;
    font-size: 2.0vw;
    text-transform: uppercase;
}

td.not-month{
    background: #d9d9d9;
	color: #666;
}

.calendar th {
	list-style: none;
	padding-top: 0px;
	margin-top: 0px;
	height: 25px;
    background-color: #ffab00;
    width:14.342%;
    text-align: center;
    vertical-align: top;
    margin-left: 3px;
    padding: 3px;
    margin-bottom: 0px;
    size: 40px;
}

.calendar td {
    text-align: right;
	vertical-align: top;
	box-sizing:border-box;
	border: 1px solid #ccc;
	height: 90px;
}


#calendar .not-month {
	background: #f5f5f5;
	color: #666;
}

.li-calendar {
    clear: both;
    display: inline-block; 
	font-size: 14px;
	border-radius: 4px;
	padding: 5px;
	line-height: 14px;
	background: #b3ecff;
	border: 1px solid #b5dbdc;
	text: white;
}

a {
    color: #0066ff;
    text-decoration: none;
}

#calendar.h4{
	clear: both;
    display: inline-block; 
	font-size: 14px;
	border-radius: 4px;
	padding: 5px;
	line-height: 14px;
	background: #b3ecff;
	border: 1px solid #b5dbdc;
	text: white;
	color: #0066ff;
    text-decoration: none;
}