/*Homepage
*/

.jumbotron:before {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   position: relative;
    height: 420px;
    width: 100%;
    background-image: url('web2.jpg');
    -webkit-filter: opacity(20%);
    z-index: -1;
    background-repeat:no-repeat;
    display: compact;
    content: "";
    display: block;
}

.jumbotron .container-jumbotron {
    position: absolute;
    margin: 0;
    top: 330px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.container-jumbotron h1 {
   display: block;
   margin: auto;
   color: #333;
   font-size: 3.7vw;
   letter-spacing: .75px;
   font-weight: 400;
   margin-bottom: 70px;
}

 h2{
    color: black;
    font-family: "Helvetica Neue";
    font-size: 2.0vw;
    font-weight: 400;
    padding: 0px;     
}


a.btn.btn-primary.btn-lg{
    color: white ;
    background-color: #ffab00;
    border-color: #ffab00;
    padding: 8px 18px;
    font-size: 21px;
    text-decoration: none;
    line-height: 1.333333;
    border-radius: .3rem;
    display: inline-block; 
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container a{
    margin-top: 20px;
    margin-left: 5px;
    font-style: regular;
    font-weight: 400;
    font-size: 2.5vw;
    color: black;
}

.row-jumbotron {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    display: table;
    font-style: regular;
    color: black;      
}

.col-lg-4 {
    size: 15px;
    display: table-cell;
    color: black;  
}

/*About SisterWeb 
*/


.site-wrapper:before {
   background-size: cover;
   position: relative;
    height: 600px;
    width: 100%;
    background-image: url('design1.jpg');
    -webkit-filter: opacity(10%);
    z-index: -1;
    background-repeat:no-repeat;
    display: compact;
    content: "";
    display: block;
}

.cover-container{
    position: absolute;
    margin: 0;
    top: 375px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


h4.masthead-brand {
   display: block;
   margin: auto;
    margin: 18px;
    padding-top: 15px;
    letter-spacing: 1px;
    font-size: 2.25vw;
    font-weight: 400;
    text-decoration: none;
}

h1.inner-cover {
    margin-left: 15px;
}

.lead {
    padding-left: 20px;
    font-size: 1.70vw;
    font-weight: 400;
    text-decoration: none;
    justify: center;
}
