!!! 5
%html
  %head
    %title 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    /* no bullets of margins on list for navigation*/
   
  %body
    %navbar
    
    %ul
      %li
        %a.active{:href => "/staticpages/home"} Home
      %li{:style => "float:right"}
        %a.active{:href => "/profiles"} Profiles
      %li{:style => "float:right"}
        %a.active{:href => "#forums"} Forums
      %li{:style => "float:right"}
        %a.active{:href => "/calendar"} Calendar
    #main-container.container
      .row
        .col-xs-3
          %h2 
        .col-xs-9
          = yield

