!!! 5
%html
  %head
    %title 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    /* no bullets of margins on list for navigation*/
   
  %body
    %navbar
    /* navigation bar is a list */
    %ul
      %li
        %a.active{:href => "#about"} About
      %li{:style => "float:right"}
        %a.active{:href => "/profiles"} Profiles
      %li{:style => "float:right"}
        %a.active{:href => "#forums"} Forums
      %li{:style => "float:right"}
        %a.active{:href => "/staticpages/home"} Home
      %li{:style => "float:right"}  
         
    
    .jumbotron
  .container
    %img{:alt => "Photo", :src => asset_path("spiderweb2.png")}
    %p
      %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn More »
    
    .container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "140"}/
      %h2 Heading
      %p Text Here
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} View details »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "140"}/
      %h2 Heading
      %p Text Here
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} View details »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "140"}/
      %h2 Heading
      %p More Txt Here
      %p
        %a.btn.btn-secondary{:href => "#", :role => "button"} View details »
    / /.col-lg-4
  / /.row
    
  = yield