!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'application', "data-turbolinks-track" => true 
    = csrf_meta_tags

    /* no bullets of margins on list for navigation*/
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "SisterWeb", :name => "description"}
            %meta{:content => "D.Dekker, K. Jones, Shay Shay, V. Martinez", :name => "author"}
              %link{:href => "../../favicon.ico", :rel => "icon"}
                %title SisterWeb
                / Bootstrap core CSS
                %link{:href => "../../dist/css/bootstrap.min.css",:rel => "stylesheet"}
              %style {:type="text/css"} 
              %script{:src => "https://code.jquery.com/jquery-1.11.3.min.js", :type => "text/javascript"}
              %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
   
  %body
    .masthead  
      .container-masthead
        .col-md-4
          %img.img-logo{:alt => "Logo", :height => "70", :src => asset_path("spiral.png"),
          :width => "70", :style => "float:left"}/
        .col-md-8  
          %h3{:style => "float:left"} SisterWeb
          
      
  %navbar
    %ul
      %li.active
        %a{:href => "/logout"} LogOut
      %li.active
        %a{:href => "/login"} Log In | Sign Up
      %li{:style => "float:right"}
        %a{:href => "#forums"} Forums
      %li{:style => "float:right"}
        %a{:href => "/calendar"} Calendar
      %li{:style => "float:right"}
        %a{:href => "/profiles"} Profiles
      %li{:style => "float:right"}
        %a{:href => '/staticpages/home'} Home
      %li{:style => "float:right"}  
  
  
  
    = yield


